@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* --primary: #1a73e8; */
    --primary-dark: #0a66c2;
    --primary-light: #64a0f0;
    --primary-outline-bg: #e2f0fe;
    /* --secondary: #01754f; */
    --focus: #cb112d;
    --highlight: #191919;
    --icon: #666666;
    --divider: #b2b2b2;
    --logged-bg: #eae6df;

    /* === SHADCN === */

    --primary: #1a73e8;
    --primary-foreground: #f8fafc;

    --secondary: #01754f;
    --secondary-foreground: #1a73e8;

    --background: #ffffff;
    --foreground: #1a73e8;

    --muted: #ebebeb;
    --muted-foreground: #64748b;

    --card: #ffffff;
    --card-foreground: #1a73e8;

    --popover: #ffffff;
    --popover-foreground: #1a73e8;

    --border: #dfdedb;

    --input: #404040;

    --accent: #ebebeb;
    --accent-foreground: #181818;

    --destructive: #ff0000;
    --destructive-foreground: #f8fafc;

    --ring: #94a3b8;

    --radius: 0.5rem;
  }
}

@layer components {
  .image-container {
    @apply max-w-full max-h-full flex items-center justify-center overflow-hidden;
  }
  .image-container > img {
    @apply size-full;
  }
}
